*{
    margin: 0%;
    padding: 0%
}

@font-face {
    font-family: yekan_bakh ;
    src: url(./fonts/Yekan\ Bakh.ttf);
}

@font-face {
    font-family: yekan_bakh_bold ;
    src: url(./fonts/BYekan+\ Bold.ttf) ;
}

@font-face{
    font-family: yekan_bakh_fanum;
    src: url(./fonts/Yekan\ Bakh\ FaNum\ 07\ Heavy.ttf);
}
@font-face{
    font-family: yekan_bakh_light;
    src: url(./fonts/YekanBakh_Light.ttf);
}

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body{
    background-color: #fbfbfb ;  
} 

button{
    background: none;
}

div.navbar{
    height: 80px;
   background-color: #F1F3F1;
}

div.right{
    margin-right: 2.5% ;
}

div.products_navbar_dropdown{
    float: right ;
    width: 78px ;
    height: 40px ;
    margin-right: 40px ;
    margin-top: 6% ;
}

div.products_navbar_dropdown:hover{
    color: #384c34;
}

a.follow_up_button:hover{
    color:#384c34 ;
}

select.products{
    font-family: yekan_bakh ;
    font-size: 15px ;
    border-style: none ;
    background-color: transparent ;
    color: #575D56 ;
    width: 78px ;
    height: 40px ;
}

div.products_follow_up{
    background-color: transparent;
    float: left ;
}

button.follow_up_button{
    background-color: transparent;
    font-family: yekan_bakh ;
    margin-top: 5% ;
    border-style:none ;
    color: #575D56 ;
    width: 100px ;
    height: 40px ;
    padding: 0px ;
    margin-right: 20px ;
}

a.follow_up_button{
    font-size: 15px ;
    color: #575D56 ;
    text-decoration:none ;
}
a.follow_up_button:hover{
    color: #384c34;
}

div.search_bar{
    float: right ;
    width: 326px ;
    height: 56px ;
    background-color:#FAFAFA ;
    border-style: solid ;
    border-width: 1px ;
    border-color: #9EA49D ;
    border-radius: 12px ;
}

button.search_button{
    width: 24px ;
    height: 24px ;
    margin-top: 16px ;
    margin-bottom: 16px ;
    margin-left: 16px ;
    float: left ;
    background-color:transparent ;
    border-style: none ;
}

input.search_bar{
    font-family: yekan_bakh;
    font-size: 16px;
    border-style: none;
    background-color: transparent;
    float: right;
    padding-right: 12px ;
    padding-top: 16px ;
    padding-bottom: 16px ;
    height: 56px;
    border-radius: 12px ;
}

input.search_bar:focus{
    outline: none;
}

input.search_bar::-webkit-search-cancel-button{
    -webkit-appearance:none;
}

div.cart_profile_icon{
    background-color: transparent;
    float: right;
    width: 100px;
    height: 44px;
    margin-top: 6px ;
    margin-bottom: 6px ;
    margin-right: 7%;
}

div.profile_icon{
    background-color: transparent;
    float: right;
    width: 44px ;
    height: 44px ;
    border-left-width: 1px ;
    border-left-style: solid ;
    border-left-color: #CACACA; 
}

button.profile_icon{
    background-color: transparent;
    border-right-style: none ;
    border-top-style: none ;
    border-bottom-style: none ;
    border-left-color: #CACACA; 
    border-left-style: solid; 
    border-left-width: 1px ; 
}

img.profile_icon{
    margin: 10px;
}

div.cart_icon{
    background-color: transparent;
    float: left;
    width: 47px ;
    height: 44px ;
}

button.cart_icon{
    background-color: transparent;
    border-style: none ;
}

img.cart_icon{
    margin: 10px ;
}

div.landing_top{
    background-image: linear-gradient(to right , #E2E7E3 ,#D7DFD800);
    height: 450px;
    overflow: hidden;
    flex-direction: column;
}

div.description{
    padding-top: 5%;
    padding-right: 3%;
    font-family: yekan_bakh;
    width: 50%;
    height: 20%;
    z-index: 1;
}
p.description_1{
    font-size: 36px;
    font-weight: 400;
    color: #575D56;
}

p.description_2{
    font-size: 48px;
    font-family: yekan_bakh_bold;
}

div.ball{
    border-radius: 50%;
    width: 400px;
    height: 380px;
    margin-left: -9%;
    float: left;
    background-image: linear-gradient(to left , rgba(218,225,218,0.8) , rgba(224,230,226,1));
}

img.hero_img{
    width: 350px;
    height: 400px;
    opacity: 1;
}

div.category{
    height:200px ;
    background-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: #E7E7E780;
    border-radius: 12px;
    margin-top: 7%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    font-family: yekan_bakh;
}

a.show_all_category{
    text-decoration: none;
    color: #9EA49D;
    font-size: 14px;
}

p.category{
    font-size: 14px;
    font-family: yekan_bakh_bold;
}

div.show_all_category{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 15%;
    margin-right: 10%;
    margin-top: 2%;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    padding-bottom: 5%;
    display: none;
}

div.landing_bottom{
    background-color: #FBFBFB;
}

div.products_category{
    height: 75%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    display:inline-block;
    display: flex;
    margin-right: 10%;
    justify-content: center;
}

div::-webkit-scrollbar{
    display: none;
}

div.category_card{
    width: 77px;
    height: 80%;
    margin-left: 24px;
    margin-top: 2%;
    position: relative;
}

p.category_card_lable{
    font-family: yekan_bakh;
    font-size: 12px;
    height: 25%;
    color: #70776E;
    margin-right: 25%;
    width: 100%;
}

a.category_card{
    text-decoration: none;
}

div.why_us{
    height: 450px;
    width: 100%;
    margin-top: 10%;
    margin-bottom:5% ;
    padding-top: 5%;
}

div.why_us_lable{
    height: 100px;
    width: 100%;
}

div.why_us_ball{
    width: 100px;
    height: 100px;
    background-color: #EAECEA;
    border-radius: 50%;
    margin-right: 4%;
}
p.why_us_ball{                                     /* change font*/
    width: 190px;
    font-family: yekan_bakh;
    font-size: 20px;
    padding-top: 30%;
    color: #3A3A3A;
}

div.why_us_reasons{
    display: flex;
    margin-top: 7%;
    margin-left: 4% ;
    margin-right: 4% ;
}
 div.reasons_card{
    font-family: yekan_bakh_fanum;
    color: #383938;
 }

 div.reasons_card_lable{
    height: 20%;
    font-size: 18px;
    color: #383938;
    margin-bottom: 10%;
 }
 div.reasons_card_paragraph{
    height: 80%;
    font-size: 12px;
    font-weight: 400px;
    color: #3C3C3C;
    margin-bottom: 10%;
    
 }

 div.why_us_reasons_1{
    width: 35%;
 }

 div.why_us_reasons_2{
    width: 35%;
    margin-right: 20%;
 }

 div.special_offers{
    background-color: #B8BFB8;
    height: 228px;
    margin-right: 3%;
    border-radius: 0px 16px 16px 0;
    display: flex;
    align-items: stretch;
    margin-bottom: 10%;
    -ms-overflow-style: none;
 }

 div.special_offers_text{
    width: 150px;
    margin-left: 70px;
    margin-top: 50px;
    color: #FFFFFF;
    font-family: yekan_bakh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

p.special_offers{
    margin-top: 50%;
    margin-right: 25%;
    font-family: yekan_bakh;                        /*change font*/
    font-size: 32px;
    color: #FFFFFF;
    
}

div.special_offers_items{
    width: 172px;
    height: 228px;
    margin-left: 5%;
}

p.special_offers_items_off{
    color: #FFFFFF;
    font-family: yekan_bakh;                       /*change font*/     
    font-size: 16px;
    padding-top: 25%;
    padding-right: 15%;
    z-index: 2;
}

div.special_offers_items_off{
    background-color: #B90202;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    position: relative;
    top: 25px;
    right: -10px;
    padding-bottom: 30px;
}

div.special_offers_items_card{
    width: 168px;
    height: 168px;
    background-color: #F3F3F3;
    border-radius: 12px;
    margin-right: 2%;
    margin-bottom: 5%;
}

div.special_offers_items_card_img{
    width: 96px;
    height: 96px;
    padding-top: 8%;
    padding-right: 25%;
}

div.special_offers_items_card_desc{
    width: 110px;
    height: 40px;
    display: flex;
    margin-right: 25%;
    padding-top: 15%;
}

div.special_offers_items_card_desc_price{
    width: 70px;
    height: 40px;
    font-family: yekan_bakh;                                          /*change font*/
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

div.special_offers_items_card_desc_button{
    width: 32px;
    height: 32px;
}

button {
    border: none;
}

div.newest_products{
    height: 380px;
    margin-bottom: 5%;
    -ms-overflow-style: none;
}

div.title{
    height: 40px;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

p.title{
 font-family: yekan_bakh_fanum;                                       
 font-size: 22px;
 color: #3A3A3A;
 padding-right: 5%;
 padding-top: 1%;
 margin-left: 5px;
}

div.product_nav_button{
    display: none;
}

div.prosuct_row{
    display: flex;
    overflow: scroll;
}

div.products_card{
    height: 308px;
    width: 240px;
    border-style: solid;
    border-color: #E7E7E7;
    border-width:1px;
    border-radius: 12px;
    margin-right: 10%;
    background-color: #FFFFFF;
}

div.product_img{
    padding-right: 20%;
}
 
img.product_img{
    width: 132px;
    height: 178px;    
}

div.product_desc{
    font-family: yekan_bakh_fanum;                                         /*change font*/        
    font-size: 14px;
    padding-right: 20%;
    color: #000000;
}

div.product_desc p{
    margin-bottom: 2px;
}

p.product_model{
    font-size: 12px;
    color: #BDBDBD;
}

div.product_add{
    float: left;
    padding-left: 20%;
    width: 40px;
    height: 40px;
}
div.product_add img{
    width: 40px;
    height: 40px;
}
div.colaction_products{
    height: 380px;
    margin-bottom: 20%;
    -ms-overflow-style: none;
}

div.footer_1{
overflow: hidden;
position: fixed;
bottom: 0;
height: 80px;
width: 100%;
border-top-color:#F3F6F4 ;
border-top-style: solid;
border-width: 1px;
background-color: rgba(255, 255, 255, 0.7);
}
 

div.footer_icons{
    display: flex;
    color: #B9B9B9;
    margin-right: 15%;
    margin-top: 24px;
}

img.footer_icon{
    color: #B9B9B9;
}

div.footer_icon{
    color: #B9B9B9;
    margin-left: 20%;
}

div.footer_2{
    display: flex;
    margin-top: 5%;
    height: 450px;
    background-color: #70776E;
    font-family: yekan_bakh;                        /*change font*/
    display: none;
}

div.about_us{
  display: flex;    
  margin-top: 95px; 
  float: right;
  margin-right: 72px;
}
div.about_us p{
    width: 110px;
    font-size: 14px;
    font-weight: 700;
}
div.about_us a p {
    font-weight: 100;
}
div.footer_details{
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 32px;
}

div.namad{
    float: left;
    margin-top: 174px;
    display: flex;
    width: 35%;
    margin-right: 10%;
}

img.img_front{
    width: 77px;
    height: 78px;
    opacity: 1;
    z-index: 1;
}
.img_area img{
    position: absolute;
    transition: opacity 0.2s ease-out;  
}

img.img_front:hover{
    opacity: 0;
}


img.img_back{
    width: 77px;
    height: 70px;
    padding-top: 2px;
}
.special_offers_items_card_img img{
    width: 77px;
    height: 78px;
}

div.page_container{
    background-color: #FBFBFB;
}

div.product_price p{
    font-family: yekan_bakh_fanum;
}

div.special_offers_items_off p{
    font-family: yekan_bakh_fanum;
    padding-right:24% ;
}

/*     sign_in/sign_up  page      */
div.box_container{
    height: 1400px;
    background-color: #FBFBFB;
}

div.pipe_line{
    font-family: yekan_bakh;
    font-size: 12px;
    margin-top: 5%;
    margin-right: 5% ;
}

div.signup_in_box{
    position: relative;
    background-color: #FBFBFB;
    height: 1200px;
}

div.sign_in{
    font-family: yekan_bakh;
    margin-right:16px;
    height: 445px;
    width: 93%;
    border-bottom-style:solid ;
    border-bottom-color: #DFDFDF;
    border-bottom-width: 1px;
}

p.signup_in{
    font-family: yekan_bakh;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 32px;
}
div.sign_in form input::placeholder{
    font-family: yekan_bakh;
    font-size: 16px;
    color: #9EA49D;
}
div.sign_in form input{
    font-family: yekan_bakh;
    font-size: 16px;
}
div.sign_in form{
    height: 190px;
}
input.number_input {
    width: 100%;
    height: 56px;
    border-radius: 6px;
    border-color: #9EA49D;
    border-width: 1px;
    margin-bottom: 24px;
    border-style:solid;
    padding-right:12px;
    font-weight: 100;
    background-color: #FAFAFA;
    color: #3a3a3a;
}

input.password_input{
    width: 100%;
    height: 56px;
    border-radius: 6px;
    border-color: #9EA49D;
    border-width: 1px;
    margin-bottom: 24px;
    border-style:solid;
    padding-right:12px;
    font-weight: 100;
    background-color: #FAFAFA;
    color: #3a3a3a;
}
input.save_password_box{
    width: 16px ;
    height: 16px ;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
}

button.sign_in_submit_button{
    float: left;
}

.checkbox-wrapper input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-wrapper label {
    display: inline-block;
}

.checkbox-wrapper .check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34,50,84,0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.checkbox-wrapper .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}

.checkbox-wrapper .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

.checkbox-wrapper .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

.checkbox-wrapper .check:hover:before {
    opacity: 1;
}

.checkbox-wrapper .check:hover svg {
    stroke: #9EA49D;
}

.checkbox-wrapper input[type="checkbox"]:checked + .check svg {
    stroke: #65885D;
}

.checkbox-wrapper input[type="checkbox"]:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}

.checkbox-wrapper input[type="checkbox"]:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

a.forget_password{
    text-decoration: none;
    color: #65885D;
    font-size: 14px;
    width: 700;
}

button.sign_up-submit_button{
    float: left;
}

div.login_button{
    background-color: #65885D;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    display: flex;
}

div.login_button img{
    width: 24px;
    height: 24px;
    margin-top: 12px;
    margin-right: 20px;
}

div.login_button p{
    margin-top: 12px;
    margin-right: 10px;

}
div.sign_up{
    font-family: yekan_bakh;
    margin-right:16px;
    width: 93%;
    margin-top: 40px;
}

p.signup_in_title{
    font-weight: 700;
}

div.sign_up p {
    margin-bottom: 32px;
}

div.sign_up_input input{
    width: 100%;
    height: 60px;
    border-radius: 6px;
    border-style: solid;
    border-color: #9EA49D;
    background-color: #FAFAFA;
    margin-bottom: 24px;
    border-width: 1px;
    padding-right: 12px;
    color: #3a3a3a;
}
div.sign_up a{
    text-decoration: none;
    color: #65885D;
}

div.sign_up p{
    font-size: 14px;
}
/* profile page */
div.box_container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2000px;
}

div.profile_box_container{
    width: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.profile_details{
    background-color: #FFFFFF;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2;
}

div.profile_details img{
    border-radius: 50%;
    width: 136px;
    height: 136px;
    margin-right: 95px;
    margin-top: 42px;
}

div.profile_details h2{
    font-family: yekan_bakh;
    font-size: 24px;
    color: #666A6E;
    margin-top: 18px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

div.profile_details_credit{
    display: flex;
    align-items: center;
    width: 100%;
}
div.profile_details_credit p{
    width: 50%;
    text-align: center;
    font-family: yekan_bakh_fanum ;
}
div.add_credit{
    background-color: #65885D;
    color: #FFFFFF;
    font-family: yekan_bakh;
    font-size: 14px;
    width: 216px;
    height: 48px;
    border-radius: 8px;
    margin-top: 18px;
}

div.add_credit button img{
    width: 12px;
    height: 20px;
    margin: 0px;
}
div.add_credit button{
    width: 216px;
    height: 48px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-right: 70px;
}
div.add_credit button p{
    color: #FFFFFF;
    font-family: yekan_bakh;
    font-size: 14px;
    margin: 0px;
    margin-right: 8px;
}
div.profile_details_button{
    margin-top: 46px;
    margin-right: 56px;
}
div.profile_details_button button{
    width: 216px;
    height: 30px;
    margin-bottom: 24px;
    background-color: #FFFFFF;
    color: #666A6E;
    text-align: start;
    font-family: yekan_bakh_light;
    font-size: 16px;
    border-bottom-style: solid;
    border-bottom-width: 1px ;
    border-color: #EDEDED;
    padding-bottom: 8px;
}

div.profile_details_button button img{
    width: 18px;
    height: 18px;
    margin: 0;
    margin-left: 5px;
}

p.info_title{
    font-family: yekan_bakh;
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    margin-right: 16px;
    margin-top: 72px;
    margin-bottom: 10px;
}
div.img_upload{
    background-color: #FFFFFF;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 324px;
}

div.img_upload img{
    width: 136px;
    height: 136px;
    margin-bottom: 48px;
}

div.file_input_lable{
    width: 216px;
    height: 48px;
    background-color: #65885D;
    color: #FFFFFF;
    border-radius: 8px;  
    display: flex; 
    justify-content: center;
    align-items: center;
}

div.file_input_lable img{
    width: 20px;
    height: 20px;
    margin-bottom: 0;
}

div.file_input_lable p{
    font-family: yekan_bakh_light;
    font-size: 16px;
    margin-right: 8px;
    margin-top: 20px;
}

div.img_upload input{
    display: none;
}

div.info_submit{
    background-color: #FFFFFF;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2;
    margin-top: 24px;
    height: 484px;
    padding-right: 32px;
    padding-top: 18px;
}

div.info_filed{
    margin-top: 24px;
    background-color: #FAFAFA;
    border-bottom-style:solid ;
    border-bottom-color:#95B28F ;
    border-bottom-width: 1px;
    border-radius: 6px;
    height: 56px;
    width: 260px;
}

div.info_filed_title{
    font-family: yekan_bakh_light;
    color: #95B28F;
    font-size: 15px;
    display: flex;
    margin-right: 12px;
}

div.info_filed input{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 50%;
    padding-right: 12px;
    font-family: yekan_bakh_light;
    font-size: 15px;
    color: #525E67;
}

div.info_filed input:focus{
    border: none;
    outline: none;
}

button.submit_info{
    width: 148px;
    height: 48px;
    background-color: #65885D;
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: yekan_bakh_light;
    font-size: 15px;
    margin-top: 48px;
    float: left;
    margin-left: 34px;
}

button.submit_info p{
    margin-top: 18px;
    margin-right: 8px;
} 

div.password-chanege{
    background-color: #FFFFFF;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2;
    margin-top: 24px;
    margin-bottom: 100px;
    height: 453px;
    padding-right: 32px;
}
div.password-chanege p{
    font-family: yekan_bakh;
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    margin-right: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}

div.password_change_filed input{
    margin-bottom: 32px;
    width: 260px;
    height: 56px;
    font-family: yekan_bakh_light;
    font-size: 14px;
    background-color: #FAFAFA;
    border-color: #9EA49D;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    padding-right: 12px;
}
div.password_change_filed input:focus{
    border-color: #9EA49D;
    border-width: 1px;
    border-style: solid;
    outline: none;
}

button.passwors_change_submit{
    width: 148px;
    height: 48px;
    background-color: #65885D;
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: yekan_bakh_light;
    font-size: 15px;
    float: left;
    margin-left: 34px;
}
button.passwors_change_submit p{
    color: #FFFFFF;
    font-family: yekan_bakh_light;
    font-size: 14px;
    font-weight: 400;
}

div.info_filed_title{
    height: 20px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
input[type=number] {
    -moz-appearance: textfield;
}

/* plp page */
div.plp_container{
    width: 90%;
    height: 100%;
    margin: 32px 16px 32px 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

div.plp_page_product_card{
    width: 156px;
    height: 221px;
    border-style: solid;
    border-color: #E7E7E7;
    border-width: 1px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.plp_page_product_card_description{
    width: 136px;
    height: 112px;
    font-family: yakan_bakh;
}

div.plp_page_product_card img{
    width: 77px;
    height: 77px;
}

/* resposive */

@media only screen and (max-width:992px) {
    p.description_1{
        font-size: 18px;
    }
    
    p.description_2{
        font-size: 20px;
        font-family: yekan_bakh_bold;
    }
}

@media only screen and (max-width:767px){
    div.search_bar{
        width: 95%;
        justify-content: center;
        margin-right: 2%;
    }
}

@media only screen and (min-width:767px){
    div.footer_1{
        display: none;
    }
    div.footer_2{
        display: flex;
    }
    div.namad{
        position: relative;
        top: 150px;
        left:700px ;
        height: 0px;
    }
    img.namad{
        width: 75px;
        height: 75px;
    }
    div.ball{
        width: 450px;
        height: 450px;
    }
    div.landing_top{
        display: flex;
        flex-direction: row;
    }
    img.hero_img{
        float: left;
        width: 95%;
        height: 100%;
    }
    div.signup_in_box{
        display: flex;
        width: 90%;
        margin-right:5% ;
        margin-left:5% ;
        background-color: #FFFFFF;
        border-radius:12px ;
        height: 800px;
    }

    div.sign_in{
        width: 80%;
        margin-left: 10% ;
        margin-top: 40px;
        border-bottom-style:none ;
    }

    div.sign_in p{
        margin-bottom: 32px;
    }

    div.sign_up{
        width: 80%;
        margin-left: 10% ;
        border-right-style:solid ;
        border-right-color:#E0E0E0 ;
        border-right-width: 1px ;
        padding-right: 100px;
        height: 90%;
    }

    div.profile_box_container{
        flex-direction: row;
        width: 80%;
    }
    div.profile_details{
        height: 710px;
        margin-left: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 42px;
    }
    div.profile_details img{
        margin: 0;
    }

    p.info_title{
        margin-top: 0 ;
    }
    div.info_filed{
        margin-left: 30px;
    }
    div.profile_details_button{
        margin-left: 32px;
    }
    div.add_credit{
        margin: 0;
    }
    div.profile_details_button{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    div.navbar{
        position: fixed;
        z-index: 3;
    }
    div.landing_top{
        padding-top: 80px;
    }
    div.product_nav_button{
        display: block;
    }
    p.title{
        margin-left: 24px;
    }
    div.pipe_line{
        margin-top: 0;
        padding-top: 100px;
    }
    div.box_container{
        height: 100%;
    }
}

@media screen and (min-width:992px) {
    div.namad{
        display: block;
        position: static;
    }
    img.namad{
        width: 150px;
        height: 140px;
    }

    div.ball{
        width: 500px;
        height: 500px;
    }
    div.category{
        height: 160px;
    }

    div.img_area img{
        top: 40px;
    }

    a.category_card{
        height: 150px
    }

    div.why_us{
        display: flex;
        flex-direction:row ;
    }
    div.why_us_reasons_1{
        display: flex;
        width: 50%;
    }
    div.why_us_reasons_2{
        display: flex;
        width: 50%;
        margin-right: 0%;
    }
    div.why_us_lable{
        width: 20%;
    }
    div.show_all_category{
        padding-bottom: 10px;
    }
    div.special_offers{
        height: 235px;
    }
    div.reasons_card{
        margin-left: 15px;
    }
    div.pipe_line{
        margin-top: 0;
        padding-top: 100px;
    }
    div.id_change{
        display: flex;
        flex-direction: row;
    }
    div.info_submit{
        margin-top: 0;
        margin-right: 20px;
    }
    div.img_upload{
        height: 484px;
        width: 240px;
        justify-content:space-evenly;
    }
    div.password_change_filed input{
        width: 90%;
    }
    div.box_container{
        height: 100%;
    }
}

@media screen and (min-width:1200px) {
    div.category{
        position: absolute;
        top: 400px;
        right: 30px;
        width: 790px;
        height: 312px;
        justify-content: center;
        align-items: center;
    }

    div.category_card{
        margin-top: 20px;
        margin-left: 40px;
    }

    div.show_all_category{
        display: block;
        margin: 0;
        height: 60px;
        margin-top: 40px;
    }
    div.show_all_category a{
        top: 65px;
    }
    div.show_all_category p{
        margin-top: 25px;
    }

    div.products_category{
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    div.category_card{
        width: 97px;
    }

    p.category_card_lable{
        margin-top:-20px;
    }
    div.img_area{
        width: 77px;
        height: 77px;
    }

    div.img_area img{
        top: 65px;
    }

    a.show_all_category{
        position: absolute;
        top: 10px;
        left: 80px;
    }

    div.why_us{
        height: 300px;
    }
    div.reasons_card{
        padding-top:40px;
        width: 200px;
        margin-left: 74px;
    }
    div.why_us_lable{
        position: relative;
        top: 50px;
    }

    div.why_us_ball{
        width: 160px;
        height: 160px;
    }

    div.why_us_reasons{
        margin-right: 92px;
    }

    p.why_us_ball{
        font-size: 32px;
        padding-top: 100px;
        padding-right: 50px;
    }

    div.navbar_left_side{
        float: left;
        margin-left: 10%;
        width: 460px;
    }
    div.landing_top{
        height: 750px;
    }

    div.ball{
        width: 715px ;
        height: 670px ;
        margin-top: 60px;
    }

    img.hero_img{
        width: 600px ;
        height: 723px;
        margin-left: 52px;
        margin-top: -60px;
    }
    div.why_us{
        margin-top: 160px;
        padding-top: 0;
    }
    div.reasons_card_lable{
        margin: 0;
        height: 40px;
    }
    div.special_offers_items_card_img img{
        width: 96px;
        height: 93px;
    }
    div.pipe_line{
        margin-top: 0;
        padding-top: 122px;
        font-size: 16px;
    }
    p.signup_in_title{
        font-size: 24px;
    }
    div.sign_up p:first-child{
        font-size: 24px;
    }
    form.info_submit{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 324px;
    }
    div.info_submit{
        height: 324px;
    }
    button.submit_info{
        grid-column: 2;
        justify-self: end;
        margin-bottom: 40px;
    }
    div.img_upload{
        height: 324px;
    }
    div.password_change_fileds{
        display: flex;
        flex-direction: row;
        width: 95%;
    }
    div.password_change_filed{
        width: 280px;
    }
    div.password-chanege{
        display: flex;
        flex-direction: column;
        height: 316px;
        padding-top: 20px;
    }
    div.password-chanege p{
        font-size: 24px;
    }
    button.passwors_change_submit{
        align-self: self-end;
        margin-left: 68px;
    }
    button.passwors_change_submit p{
        font-size: 14px;
    }
    p.info_title{
        font-size: 24px;
    }
    div.box_container{
        height: 100%;
    }
}

@media screen and (max-width:1550px){
    body{
        width: 100%;
    }
    div.page_container{
        width: 100%;
    }
}

@media screen and (min-width:1550px){
    body{
        width: 100%;
    }

    div.page_container{
        width: 1550px;
        margin-right: 20%;
    }

    div.category{
        right: 20%;
    }
}

@media screen and (max-width:450px) {
}